.name {
  font-size: 20px;
}
.number {
  font-size: 18px;
  margin-left: 5px;
}

.button {
  margin-left: 10px;
  background-color: burlywood;
}

.button:hover {
  background-color: rgb(235, 19, 19);
}

.li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
